  <div class="jumbotron">
    <div class="container">
      <h1 class="title">Cleveland Startups</h1>
      <p class="title">Map of the local innovation industry. Meet some of the best and newest startups based in Cleveland.</p>
    </div>
  </div>
<div class="container">
  <nav>
    <ul class="nav nav-tabs nav-justified">
      <li routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}"><a routerLink=''>Startups</a></li>
      <li routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}"><a routerLink='/people'>People</a></li>
      <li routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}"><a routerLink='/events'>Events</a></li>
      <li routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}"><a routerLink='/spaces'>Spaces</a></li>
    </ul>
  </nav>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>