<div class="container">
  <header class="page-header">
    <h1>Cleveland Startups</h1>
  </header>
  <nav>
    <ul class="nav nav-tabs nav-justified">
      <li routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}"><a routerLink=''>Startups</a></li>
      <li routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}"><a routerLink='/people'>People</a></li>
      <li routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}"><a routerLink='/events'>Events</a></li>
      <li routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}"><a routerLink='/spaces'>Spaces</a></li>
    </ul>
  </nav>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>

